<div class="contact-infos">
  <h4><%= t(:contact)[:name] %></h4>
  <p><%= t(:contact)[:address] %></p>
  <p><%= t(:contact)[:tel] %></p>
  <p><%= t(:contact)[:website] %></p>
  <p><%= t(:contact)[:mail] %></p>
</div>
