<div class="language">
  <% if I18n.locale == :fr %>
    <% link_to "en/#{current_page.path}" do %>
      <img src="https://res.cloudinary.com/dvlfojetn/image/upload/v1479601274/xiaojieli.com/lang_en.png" alt="English">
    <% end %>
  <% else %>
    <% link_to "https://benoitcalin.github.io/chateaux-partners-v2/#{current_page.path[3..-6]}" do %>
      <img src="https://res.cloudinary.com/dvlfojetn/image/upload/v1479601274/xiaojieli.com/lang_fr.png" alt="Français">
    <% end %>
  <% end %>
</div>

<div class="logo">
  <img src="<%= image_path 'logo.jpg' %>" alt="<%= t(:alternates)[:logo] %>">
</div>

<div class="navbar-tabs" id="myHeader">
  <% if current_page.path == 'history.html' %>
    <% current_url = 'index.html' %>
  <% elsif current_page.path == 'en/history.html' %>
    <% current_url = 'en/index.html' %>
  <% else %>
    <% current_url = current_page.path %>
  <% end %>

  <% t(:tabs).each do |tab| %>

    <% if current_url == tab[:url] %>
      <% link_to "/#{tab[:url]}", class: 'tab active' do %>
        <h1 class='bigger-device'><%= tab[:title] %></h1>
        <h1 class='smaller-device'><%= tab[:short_title] %></h1>
      <% end %>

    <% else %>
      <% link_to "/#{tab[:url]}", class: 'tab' do %>
        <h2 class='bigger-device'><%= tab[:title] %></h2>
        <h2 class='smaller-device'><%= tab[:short_title] %></h2>
      <% end %>
    <% end %>

  <% end %>
</div>
