<div class="image-holder-intro" style="background-image: linear-gradient(0.55deg, #000000 -40.74%, rgba(255, 255, 255, 0) 53.77%), url(<%= image_path 'fond_expertise.jpeg' %>)" alt="<%= t(:alternates)[:expertise] %>">

  <div class='introduction'>
    <h3><%= t(:introduction)[:title] %></h3>
    <p><%= t(:introduction)[:text] %></p>
  </div>
</div>


<% t(:events).each do |e| %>

  <% @e = e %>
  <%= partial 'templates/content/cards' %>

<% end %>

<%= partial 'templates/content/footer' %>
