<div class="wrapper" style="background-image: linear-gradient(60deg, rgba(0,0,0,0.5), rgba(0,0,0,0.2)), url(<%= image_path 'fond_contact.jpg' %>)" alt="<%= t(:alternates)[:contact] %>">

  <div class="mail-confirmation">
    <!-- Content -->
    <div class="modal-content text-center">
      <div>
        <h3 class='modal-title underline'>
          <%= t(:thanks)[:title] %>
        </h3>
      </div>
      <p class='modal-text'>
        <%= t(:thanks)[:text] %>
      </p>
      <%= link_to t(:thanks)[:btn], '/history.html', class: 'btn btn-primary modal-btn' %>
    </div>
  </div>

</div>

<div class='fixed'>
  <%= link_to link_to t(:mentions), "/mentions.html", class: "mentions" %>
</div>
